:root{
    --pixels: 16;
    --colorBackDiv:#fff;
    --colorDiv:#fff;
    --outlineWid:0px ;
    --outlineSty: none;

    --text:#F67280;
    --background:#355C7D;
    --base:#C06C84;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: var(--background);
  
}

.divs{
    
    background-color: var(--colorBackDiv);
    width: calc(100% / var(--pixels));
    /* outline-style: var(--outlineSty); */
    /* outline-width: var(--outlineWid); */
    user-select: none;
}
.grid{
  outline-style: var(--outlineSty);
    outline-width: var(--outlineWid);
    
}








/*
.pruebaInput{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #000;
}
*/
.containerGrid{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    width: 600px;
    max-height: 600px;
    height: 600px;
    outline-style: solid;
    outline-width: 5px;
    outline-color: var(--base);
    outline-offset: 10px;

}

.containerMain{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  
}

.containerGridColors{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.styleInputColors{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.styleInputColorBack{
background-color: var(--colorBackDiv);
}
.styleInputColorDiv{
  background-color: var(--colorDiv);
}

.inputColor{
  opacity: 0;
   width: 150px;
   height: 150px;
   border-radius: 100px;
   cursor: pointer;
 }

.containerInputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerBtn{

  display: flex;
  justify-content: space-around;
}

.inputSize{
  display: flex;
  justify-content: center;
  margin: 73px 0 73px 0;
}

.text{
  color: var(--text);
  font-size: 24px;
}

.textContInputs{
  margin: 17px 0 10px 0;
}

.title{
  font-weight: 300;
  color: var(--text) ;
  text-align: center;
  margin: 30px 0 67px 0;
}

.btnMiniContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn{
  background-color: unset;
  border-style: none;
}
  
.btn{
  cursor: pointer;
}


/* =-------------------------------------------------------------------------------- */
.sizeGrid{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  height: 7px;
  border-radius: 20px;
  background: var(--base);
  background-image:linear-gradient(var(--base), var(--base));
  background-size: 25% 100%;
  background-repeat: no-repeat;
}


.sizeGrid::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  /* border: var(--base) solid; */
  height: 7px;
  /* border-width: 1px;
  border-radius: 10px; */
}

.sizeGrid::-moz-range-track{
  -moz-appearance: none;
  /* border: var(--base) solid; */
  height: 7px;
  /* border-width: 1px;
  border-radius: 10px; */
}


.sizeGrid::-moz-range-thumb {
  -moz-appearance: none;
  background-color: var(--base);
  /* border: var(--base) solid; */
  height: 22px;
  width: 22px;
  /* border-radius:  100%;
  border-width: 2px; */
  transition: all 2s;
}

.sizeGrid::-webkit-slider-thumb{
  -webkit-appearance: none;
  background-color: var(--base);
  /* border: var(--base) solid; */
  height: 25px;
  width: 25px;
  border-radius: 100%;
  /* border-width: 2px; */
  margin-top: -9px;
  transition: background-color 0.6s;
}
