:root{
    --pixels: 16;
    --colorBackDiv:#fff;
    --colorDiv:#000;
}
.divs{
    
    background-color: var(--colorBackDiv);
    width: calc(100% / var(--pixels));
    outline-style: solid;
    outline-width: .5px;
}
/*
.divs:hover{
    background-color: aqua;
}
*/
.divColorHover{
    background-color: var(--colorDiv);
}

.containerGrid{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 600px;
    width: 600px;
    max-height: 600px;
    height: 600px;
}
